<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.huhaonan.sportscampus">
    <!--  uses-permission这一堆权限  -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name="com.huhaonan.sporscampus.util.SportsCampusApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyNotActionBar"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:targetApi="31">
        <!--   百度地图key秘钥百度迷药     -->
       <meta-data android:name="com.baidu.lbsapi.API_KEY"
           android:value="hhe5svUXAOodX7dTBXukTH0zjOwSBkLT">

       </meta-data>
        <activity
            android:name="com.huhaonan.sporscampus.Splash"
            android:exported="true"

           >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.huhaonan.sporscampus.ui.MainActivity"
            android:exported="true"
           ></activity>
        <activity
            android:name="com.huhaonan.sporscampus.ui.LoginActivity"
            android:exported="false"
           ></activity>
        <activity
            android:name="com.huhaonan.sporscampus.ui.RegistActivity"
            android:exported="false"
          ></activity>
        <!--        定位服务 爱加就加  后面自己用得上-->
        <service android:name="com.baidu.location.f" android:enabled="true" android:process=":remote">

        </service>

        <service android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"></service>
    </application>

</manifest>